@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

body {
  margin: 0;
  font-family: "Patrick Hand", sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #cccbfd;
  background-image: -webkit-linear-gradient(60deg, #BAB9E6 20%, #CCCBFD 10%);
  min-height: 100vh;
}

.logo {
  margin-bottom: -2em;
  width:40%;
}

.landing-img {
  width: 40%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .60s ease-in-out;
          transition:         transform .60s ease-in-out;
}
.landing-img:hover {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}