@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');

body {
  margin: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #cccbfd;
  background-image: -webkit-linear-gradient(60deg, #BAB9E6 20%, #CCCBFD 10%);
  min-height: 100vh;
}
h2 {
  margin: 0;
  padding-left: 5%;
}
.landing-img {
  width: 80%;
  margin: 5em;
  -webkit-transition: -webkit-transform .60s ease-in-out;
          transition:         transform .60s ease-in-out;
}
.landing-img:hover {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.logo {
  width: 80%;
  margin-top: 8em;
}

.col1 {
  flex: 50%;
  margin-top: 3em;
  margin-left: 5em;
  width: 30%;
}
.col2 {
  flex: 50%;
  margin-right: 4em;
  margin-top: 5em;
  width: 30%;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  left: 0;
}

.nav {
  position: fixed;
  margin: 1%;
  width: 5%;
  left: 0;
  -webkit-transition: -webkit-transform .40s ease-in-out;
  transition:         transform .40s ease-in-out;
  &:hover {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result-tea {
  width: 30%;
  -webkit-transition: -webkit-transform .60s ease-in-out;
          transition:         transform .60s ease-in-out;
  display: flex;
  margin: 0 3em;
  &:hover {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
}

.tea-description {
  flex: 0.6;
  text-align: center;
}